body{
  background: white url(../img/content.png) repeat-x 0px -150px;
  padding: 0;
  margin: 0;
  color: #777;
  font-family: Helvetica, Arial;
  font-size: 12px;
  border: 1px solid;
  border-radius: 5px;
}
.clear{
  clear:both;
}
#container{
  padding: 5px;
  width: 500px;
}
h4{
  margin:2px;
}
#flash{
  font-size: 10px;
}
#flash.notice{
  color: green;
}
#flash.error{
  color: red;
}

ul.navigation {
  list-style-type: none;
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-align:right;
}

ul.navigation li{
  float: left;
}

ul.navigation li.right{
  float:right;
}

p{
  margin: 5px 0 0 0;
}
p label{
  display: block;
  float: left;
  line-height: 2em;
  margin-right: 10px;
  text-align: right;
  width: 70px;
}
p input, p textarea {
  width: 350px;
}
p select{
  width: 100px;

}
.buttons{
  margin: 2px 0 0 0;
}
.buttons input{
  width:75px;
}

ul.tabs,ul.tabs li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tabs {
  text-align: left;
  margin:4px 0 2px 0px;
}

ul.tabs li {
  display: inline;
  margin-right: .75em;
}

ul.tabs li a{
  color: #777;
  font-size:14px;
}

ul.tabs li.active {
}

ul.tabs li.active a{
  color: green;
}
div.tabs {
  display:none;
}

div.active {
  display:block;
}

#project-log{
  margin:0px 5px;
  padding:0px;
  width: 90%;
}

#project-log li{
  margin: 5px 0;
  padding: 5px 0;
  list-style: none;
  border-bottom: 1px solid black;
  
}

#project-log .description{
  color: black;
}

#project-log .info{
  padding: 0 5px;

}


